POSTGRES_USER=user
POSTGRES_PASSWORD=qwerty
POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_PORT_INNER=5432
POSTGRES_PORT_EXTERNAL=5432

REDIS_PASSWORD=qwerty
REDIS_USER=default
REDIS_HOST=localhost
REDIS_PORT_INNER=6379
REDIS_PORT_EXTERNAL=6379

LOG_LEVEL=INFO
LOG_LEVEL_FILE=INFO

APP_ENVIRONMENT=dev

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your@gmail.com
SMTP_PASSWORD=your_app_password

IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_USER=your@gmail.com
IMAP_PASSWORD=your_app_password
