
4.6. Пастеризационно-охладительная установка:
4.6.1. Автоматизированная установка для пастеризации технологической воды производительностью не менее 5 м3/ч
4.6.2. Оснастить установку дополнительными системами контроля температуры
4.6.3. Фильтром грубой очистки на входе сырья с пропускной способностью не менее 5 м3/ч
4.6.4. Промежуточным баком не менее 150 л

4.7. Экструдер карусельного типа:
4.7.1. Производительность не менее 100 кг/ч
4.7.2. Материал корпуса - нержавеющая сталь 316
4.7.3. Система автоматического регулирования температуры
